@tailwind base;
@tailwind components;
@tailwind utilities;

.text-border {
  text-shadow:
    2px 2px 5px rgba(0, 255, 0, 0.28),
    -2px 2px 5px rgba(0, 255, 0, 0.28),
    2px -2px 5px rgba(0, 255, 0, 0.28),
    -2px -2px 5px rgba(0, 255, 0, 0.28);
}
